:root{
	--color-is-1: #000000ff;

	--mainColor:#ffffff;
	--secondaryColor:rgba(245,245,247,0.7);

	--mainText:rgb(0, 0, 0);
	--secondaryText:#86868b;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body{
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100vh;
}

.background{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%;
     height: 100%;
     padding: 70px 0 0 0;
}

.container{
     position: relative;
     width: 100%;
     margin: 0 auto;
     background: var(--mainColor);
}

.container form{
     position: relative;
     width: 80%;
     margin: 0 auto;
     background: var(--secondaryColor);
     padding: 50px;
}


.container form h2{
     width: 100%;
     color: var(--mainText);
     font-size: 3rem;
     text-align: center;
     margin-bottom:  10px;
}

.container form .row100{
     position: relative;
     width:  100%;
     display:  grid;
     grid-template-columns:  repeat(auto-fit, minmax(300px,1fr));
     
}

.container form .row100 .col{
     position: relative;
     width: 100%;
     padding: 0 10px;
     margin:  30px 0 10px;
     transition: 0.5s;
}

.container form .row100 .inputBox{
     position: relative;
     width: 100%;
     height: 40px;
     color:  var(--mainText);
}

.container form .row100 .inputBox input,
.container form .row100 .inputBox.textarea textarea{
     position: relative;
     width: 100%;
     height: 100%;
     background: transparent;
     box-shadow: none;
     border:  none;
     outline: none;
     font-size: 1.2rem;
     padding: 0 10px;
     z-index: 1;
     color: #000;
}

.container form .row100 .inputBox .text{
     position: absolute;
     top: 0;
     left: 0;
     line-height: 40px;
     font-size: 1.2rem;
     padding: 0 10px;
     display: block;
     transition:  0.5s;
     pointer-events: none;
}

.container form .row100 .inputBox input:focus + .text,
.container form .row100 .inputBox input:valid + .text{
     top: -35px;
     left: -10px;
     font-size: 1rem;
}

.container form .row100 .inputBox .line{
     position: absolute;
     bottom: 0;
     display: block;
     width: 100%;
     height: 2px;
     background:  rgb(116, 116, 122, 0.3);
     transition: 0.5s;
     border-radius: 2px;
     pointer-events: none;
}

.container form .row100 .inputBox input:focus ~ .line,
.container form .row100 .inputBox input:valid ~ .line{
     height: 100%;
}

.container form .row100 .inputBox.textarea{
     position: relative;
     width: 100%;
     height: 100px;
     padding:  10px 0;
}

.container form .row100 .inputBox.textarea textarea{
     height: 100%;
     resize: none;
     overflow: hidden;
}

.container form .row100 .inputBox textarea:focus + .text,
.container form .row100 .inputBox textarea:valid + .text{
     top: -35px;
     left: -10px;
     font-size: 1rem;
}

.container form .row100 .inputBox textarea:focus ~ .line,
.container form .row100 .inputBox textarea:valid ~ .line{
     height: 100%;
}

.container form .row100 .inputBox input[type="submit"]{
     border:  none;
     padding:  7px 35px;
     cursor: pointer;
     outline: none;
     background: rgb(116, 116, 122, 0.3);
     color: var(--color-is-1);
     font-size: 1,2rem;
     border-radius: 2px;
     text-align: center;
     width: 150px;
     transition: 0.2s all ease-in-out;
}

.container form .row100 .inputBox input[type="submit"]:hover{
     color: #000000;
     background: rgb(53, 53, 53, 0.4);
}

.container form .row100 .inputBox input[type="submit"]:active{
     color: #000000;
     background: rgb(53, 53, 53, 0.4);
     transform: scale(0.97);
}

/*footer*/
footer{
     position: relative;
	display: flex;
	min-height: 80px;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: var(--color-is-1);

}
footer .footer-content{
	text-align: center;
	position: absolute;
	bottom: 20px;
	color: var(--mainColor);
}
footer .footer-content .f-content1{
	font-weight: bold;
	font-size: 1.2rem;
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
footer .footer-content .f-content2{
	font-size: 0.9rem;
	font-family: 'Roboto', sans-serif;
}