.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 50px;
	display: flex;
	align-items: center;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	background: linear-gradient(0deg,rgb(19, 125, 170), #000000ff );
}
/*Content*/
.content{
	position: relative;
	max-width: 100%;
	margin: auto;
	text-align: center;
}

.content h2{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 2.5rem;
	line-height: 4rem;
	letter-spacing: 2px;
}

.content h2 span{
	font-family: 'Russo One', sans-serif;
	color: #40c3ff;
	font-size: 2.8rem;
}

.content .animate-text{
	position: relative;
	padding: 2rem 0;
}

.content .animate-text span{
	font-family: 'Roboto', sans-serif;
	position: relative;
	color: #fff;
	display: inline-block;
	font-size: 1.5rem;
	letter-spacing: 3px;
	animation: animatetext 2s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes animatetext{
	0%,40%,100%{
		transform: translateY(0);
	}
	20%{
		transform: translateY(-20px);
	}
}


.content a{
	position: relative;
	display: inline-block;
	margin-top: 10px;
	background: #fff;
	color: #000;
	padding: 10px 26px;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 2px;
	font-family: 'Russo One', sans-serif;
	transition: all 0.2s ease-in-out;
}

.content a:hover{
	color: #03e9f4;
	background: #333;
	font-weight: 600;
}

.content a:active{
	color: #03e9f4;
	background: #333;
	transform: scale(0.97);

}

.loader{
	position: relative;
	width: 176px;
	height: 61px;
	border-radius: 5px;
	margin: auto;
	overflow: hidden;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
.loader:hover{
	background: #03e9f4;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.loader span{
	position: absolute;
	display: block;
}


.loader span:nth-child(2)
{
	top: 0;
	left: -100%;
	width: 100%;
	height: 10px;
	background: linear-gradient(90deg, transparent,#03e9f4);
	animation: animate1 1s linear infinite;
	animation-delay: 0s;
}

@keyframes animate1{
	0%{
		left: -100%;
	}
	100%{
		left: 100%;
	}
}

.loader span:nth-child(3)
{
	top: -100%;
	right: 0;
	width: 10px;
	height: 100%;
	background: linear-gradient(180deg, transparent,#03e9f4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes animate2{
	0%{
		top: -100%;
	}
	100%{
		top: 100%;
	}
}

.loader span:nth-child(4)
{
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 10px;
	background: linear-gradient(270deg, transparent,#03e9f4);
	animation: animate3 1s linear infinite;
	animation-delay: 0s;
}

@keyframes animate3{
	0%{
		right: -100%;
	}
	100%{
		right: 100%;
	}
}

.loader span:nth-child(5)
{
	bottom: -100%;
	left: 0;
	width: 10px;
	height: 100%;
	background: linear-gradient(0deg, transparent,#03e9f4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes animate4{
	0%{
		bottom: -100%;
	}
	100%{
		bottom: 100%;
	}
}

/*Media header*/
@media only screen and (max-width: 1280px){
	.content h2{
		font-size: 2.2rem;
		line-height: 4rem;
	}

	.content h2 span{
		font-size: 2.5rem;
	}
}

@media only screen and (max-width: 1024px){
	.content h2{
		font-size: 2.1rem;
		line-height: 4rem;
	}

	.content h2 span{
		font-size: 2.5rem;
		line-height: 3rem;
	}
}

@media only screen and (max-width: 768px){
	.content{
		position: relative;
		max-width: 90%;
		margin: auto;
	}

	.content h2{
		font-size: 2.5rem;
		line-height: 4rem;
	}

	.content h2 span{
		font-size: 3rem;
		line-height: 4rem;
	}

}

@media only screen and (max-width: 380px){
	.content{
		max-width: 100%;
	}

	.content h2{
		font-size: 1.6rem;
		line-height: 2rem;
	}
	.content h2 span{
		font-size: 1.8rem;
		line-height: 2rem;
	}

	.content .animate-text span{
		font-size: 1rem;
	}

}
