
body{
  background: rgba(245,245,247,0.7);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}


.background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.container{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 90%;
  min-height: 480px;
  margin: 0 auto;
}


.form-container form{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container form h1{
  font-size: 2rem;
  padding-bottom: 30px;
}
.form-container form a{
  text-decoration: none;
  margin: 15px 0 0 0;
  color: #000;
  font-size: 1.1rem;
}
.form-container form a:hover,.form-container form a:active{
  text-decoration: underline  rgb(30, 20, 173);
  color: rgb(30, 20, 173);
}

.form-container form input{
  background: rgb(218, 215, 215);
  border: none;
  padding: 12px 20px;
  margin: 10px 0;
  width: 100%;
}
.form-container form input:focus{
  background: rgb(238, 237, 237);
}


.container button{
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 1rem;
  padding: 12px 45px;
  margin: 10px 0 0 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  opacity: 0.9;
}

.container button:hover{
  opacity: 1;
}

.container button:active{
  transform: scale(0.98);
}

.container button:focus{
  outline: none;
}

.container button.ghost{
  background: transparent;
  border-color: #fff;
}

.container .form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.container .sign-in-container{
  left: 0;
  width: 50%;
  z-index: 2;
}

.container .sign-up-container{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container .overlay-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  
}
.container .overlay-container h1{
  font-size: 2rem;
  letter-spacing: 2px;
}

.container .overlay-container p{
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;

}
.container .overlay{
  background: linear-gradient(to right, #ff4b2b,#ff416c) no-repeat;
  background-position: 0 0;
  background-size: cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  
}

.container .overlay-panel{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  
}

.container .overlay-right{
  right: 0;
  transform: translateX(0);
}

.container .overlay-left{
  transform: translateX(0);
}

/*Animation*/

/*Move sign in to the right*/
.container.right-panel-active .sign-in-container{
  transform: translateX(100%);
}

/*Move overlay in to the left*/
.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

/*Bring sign up over Sign In*/
.container.right-panel-active .sign-up-container{
  transform: translateX(100%);
  opacity: 1;
  z-index: 3;
}

/*Move overlay in to the right*/
.container.right-panel-active .overlay{
  transform: translateX(50%);
}

/*footer*/
footer{
  position: absolute;
  bottom: 0;
	display: flex;
	height: 80px;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: var(--color-is-1);

}
footer .footer-content{
	text-align: center;
	position: absolute;
	bottom: 20px;
	color: var(--mainColor);
}
footer .footer-content .f-content1{
	font-weight: bold;
	font-size: 1.2rem;
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
footer .footer-content .f-content2{
	font-size: 0.9rem;
	font-family: 'Roboto', sans-serif;
}